.content {
  max-width: 46rem;
  width: 100%;
  margin: 0 auto;
}

.inputField {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  top: -25px;
}

.inputField textarea {
  resize: none;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem 1rem 0;
  background-color: var(--gray-500);
  color: var(--gray-300);
  width: 100%;
}

.inputField textarea:focus {
  outline: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.button {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  border-radius: 8px;
  background: var(--blue-dark);
  font-size: 14px;
  font-weight: 700;
  color: var(--gray-100);
}

.button[type=submit]:not(:disabled):hover {
  background: var(--blue);
  cursor: pointer;
  transition: all 0.2s;
}

.button[type=submit]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}